.case {
    text-align: left;
    width: 65%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;

    & img {
        max-width: 100%;
    }

    h1.case_head {
        text-align: center;
        font-family: machina, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 4.5em;
    }

    p {
        font-family: 'Inter', sans-serif;
        font-size: 1.3em;

        & a {
            text-decoration: none;
            color: #155fff;
        }
    }

    & ul {
        font-size: 1.1em;
        list-style: none;

        & li {

            &::before {
                content: "\2022";
                color: #155fff;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }
    }

    & ul li ul {
        margin-left: 2em;
    }

    & h2 {
        font-family: machina, sans-serif;
        font-size: 2em;
    }

    & .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0 auto;

        & img {
            width: 100%;
            margin: 0 auto;
        }
    }
}
