//scss for landing page (index)

//fonts
@import url("https://use.typekit.net/hrt6ppr.css");

// main
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
//nav
nav {
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 2;
    animation: nav 1.5s;
    transition: .5s;

    & .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & .left {
            margin-left: 12em;

            & img {
                height: 40px;
                margin-top: 5px;
            }
        }

        & .right {
            width: 100%;
            text-align: right;

            & ul {
                list-style-type: none;
                display: inline-flex;
                margin-right: 12em;


                & a {
                    text-decoration: none;
                    color: #fff;

                    & li {
                        font-family: forma-djr-text, sans-serif;
                        font-weight: 300;
                        font-style: normal;
                        font-size: 1.45em;
                        margin-left: 2em;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}

nav.bg {
    background: rgba(0,0,0,.5);
    transition: .5s;
}

//head
.head {
    height: 100vh;
    width: 100%;
    background: #000;

    & .img {
        height: 100%;
        width: 100%;
        position: absolute;
        background-image: url("../../public/img/head.jpg");
        background-position: center center;
        background-size: cover;
        animation: fadeIn 1s;

        & .overlay {
            height: 100%;
            width: 100%;
            position: absolute;
            background: rgba(0,0,0,.5);
        }
    }

    & .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        animation: text-in 1s;
        font-size: 1.2em;
        margin-left: 10%;

        & h1 {
            color: #fff;
            font-family: forma-djr-text, sans-serif;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 1px;
            line-height: .9em;
            font-size: 5em;

        }

        & p {
            font-family: forma-djr-text, sans-serif;
            font-weight: 300;
            font-style: normal;
            color: #fff;
            font-size: 1.3em;
            letter-spacing: 5px;
        }
    }
}

.social {
    position: absolute;
    top: 50%;
    left: calc(100% - 40px);
    transform: translate(-50%, -50%);
    animation: left-right 2s;
    opacity: .8;

    & ul {
        list-style-type: none;

        & a {
            text-decoration: none;

            & li {
                margin-top: 1em;

                & img {
                    width: 60px;
                }
            }
        }
    }
}


.test {
    height: 100vh;
}
