nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #000;
    z-index: 10000;

    div {
        max-width: 100% !important;
    }

    & .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 0 auto;

        & .left {

            & h1 {
                margin: 0;
                padding: 0;
                font-family: forma-djr-text, sans-serif;
                font-weight: 700;
                font-style: normal;
                letter-spacing: 1px;
                font-size: 2.5em;
                color: #fff;
                line-height: 80px;
            }
        }

        & .right {
            width: 100%;
            text-align: right;
            font-family: 'Inter', sans-serif;

            & ul {
                list-style-type: none;
                display: inline-flex;

                & a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.4em;
                    line-height: 77px;
                    margin-left: 2em;
                    text-align: right;
                }

                & a.active {
                    border-bottom: 4px solid #155fff;
                }
            }
        }
    }
}

.line_nav {
    height: 1px;
    width: 100%;
    max-width: 100% !important;
    background-color: #636b6f;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 80px;
    z-index: 10000;
}

@media only screen and (max-width: 950px) {
    nav {

        & .grid {
            grid-template-columns: 1fr;
            margin: 0 auto;

            & .left {
                display: none;
            }

            .right {
                margin: 0 auto;
                text-align: center;

                & ul {
                    margin: 0;

                    & a {
                        margin-left: 0;
                        padding: 0 .4em 0 .4em;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}
