@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://use.typekit.net/hgt5xff.css);
@media (min-width: 1440px) {
  .container {
    max-width: 1240px !important;
  }
}
@media (min-width: 1640px) {
  .container {
    max-width: 1440px !important;
  }
}
@media (min-width: 1840px) {
  .container {
    max-width: 1640px !important;
  }
}
@media (min-width: 2040px) {
  .container {
    max-width: 1840px !important;
  }
}
@media (max-width: 2000px) {
  .col-xxl-rm {
    display: none;
  }
}

@media (max-width: 1400px) {
  .col-xl-rm {
    display: none;
  }
}

@media (max-width: 992px) {
  .col-lg-rm {
    display: none;
  }
}

@media (max-width: 768px) {
  .col-md-rm {
    display: none;
  }
}

@media (max-width: 576px) {
  .col-sm-rm {
    display: none;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    bottom: 70px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 20px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    bottom: 70px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 20px;
  }
}
@-webkit-keyframes hero-background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hero-background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.divider {
  width: 150px;
  max-width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #2083f8 0%, rgba(0, 0, 0, 0) 100%);
  margin-top: 5px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

.highlight {
  color: #2083f8;
}

.image-box {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.23);
}
.image-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  font-family: yantramanav, sans-serif;
  font-weight: 500;
}

h1, .h1 {
  font-size: 6rem;
  font-weight: 400;
}

h3, .h3 {
  font-size: 2.3rem;
  font-weight: 600;
}

h4, .h4 {
  font-size: 2rem;
  font-weight: 600;
}

p, .p {
  font-size: 1.1rem;
}

.btn {
  padding: 6px 20px;
  border-radius: 999px;
  border: 1px solid #2083f8;
  transition: all 0.2s;
}
.btn:hover {
  background: #2083f8;
  color: #fff;
}
.btn.white {
  color: #fff !important;
  border-color: #fff !important;
}
.btn.white:hover {
  color: #fff;
}

header#header {
  padding: 20px 0;
  background: transparent;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.34s;
}
header#header .branding h3 {
  margin: 0 !important;
  color: #fff;
  font-size: 1.85rem;
  font-weight: 500;
}
header#header.scroll {
  background: rgba(255, 255, 255, 0.975);
}
header#header.scroll h3, header#header.scroll a {
  color: #333333 !important;
}
header#header .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 0;
}
header#header .menu ul {
  list-style: none;
  display: flex;
  margin: 0 !important;
}
header#header .menu ul li {
  margin-left: 25px;
  font-size: 1.1rem;
  position: relative;
  overflow-y: hidden;
}
header#header .menu ul li ::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 40px;
  background: #2083f8;
  height: 4px;
  left: -40px;
  bottom: -2px;
  transition: all 0.2s;
}
header#header .menu ul li:hover ::after {
  transform: translateX(40px);
}
header#header .menu ul li a {
  text-decoration: none;
  color: #fff;
}
header#header .menu ul li.active::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 40px;
  background: #2083f8;
  height: 4px;
  left: 0 !important;
  bottom: -2px;
}

section.hero {
  background: #333;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}
section.hero .row.height {
  height: 100vh;
}
section.hero .row.height .content {
  text-align: center;
  position: relative;
  z-index: 100;
}
section.hero .row.height .content img {
  max-width: 600px;
  margin-bottom: -30px;
}
section.hero .row.height .content h1 {
  font-size: 10rem;
  color: #ffffff;
  position: relative;
  z-index: 10;
}
section.hero .row.height .content h1 span.parent {
  position: relative;
  cursor: pointer;
}
section.hero .row.height .content h1 span.parent:hover .child {
  transform: translateY(0);
  opacity: 1;
}
section.hero .row.height .content h1 span.child {
  position: absolute;
  transition: all 0.2s;
  color: #ffffff;
  opacity: 0;
  bottom: 0;
  transform: translateY(-50px);
  font-size: 34px;
  letter-spacing: 0.3rem;
  left: 0;
}
section.hero .row.height .trigger {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 30px;
  height: 30px;
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  -webkit-animation: fade 2s infinite;
          animation: fade 2s infinite;
  opacity: 0;
}

section.about.home {
  background-color: #f2f2f2;
  padding: 60px 0;
}
section.about.home .socials ul {
  display: flex;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}
section.about.home .socials ul li a img {
  width: 25px;
  transition: all 0.3s;
}
section.about.home .socials ul li:first-child {
  margin-right: 10px;
}
section.about.home .socials ul li :hover img {
  opacity: 0.8;
}

section.portfolio {
  margin: 50px 0;
}
section.portfolio .title {
  margin-bottom: 150px;
}
section.portfolio .portfolio-item {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
section.portfolio .portfolio-item img, section.portfolio .portfolio-item .header {
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  margin-top: -125px;
  transition: all 0.2s;
}
section.portfolio .portfolio-item .__title {
  margin-top: 15px;
}
section.portfolio .portfolio-item .__title h4 {
  font-size: 2.25rem;
}
section.portfolio .portfolio-item .__title .divider {
  margin-bottom: 15px;
  margin-top: 0;
}
section.portfolio .portfolio-item .__body p {
  overflow: hidden;
  text-overflow: ellipsiss;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

section.cta {
  padding: 100px 0;
  margin: 60px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
section.cta h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 20px;
  color: #fff;
}
