@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://use.typekit.net/hgt5xff.css);
@import url(https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700;800&display=swap);
@media (min-width: 1440px) {
  .container {
    max-width: 1240px !important;
  }
}
@media (min-width: 1640px) {
  .container {
    max-width: 1440px !important;
  }
}
@media (min-width: 1840px) {
  .container {
    max-width: 1640px !important;
  }
}
@media (min-width: 2040px) {
  .container {
    max-width: 1640px !important;
  }
}
@media (max-width: 2000px) {
  .col-xxl-rm {
    display: none;
  }
}

@media (max-width: 1400px) {
  .col-xl-rm {
    display: none;
  }
}

@media (max-width: 992px) {
  .col-lg-rm {
    display: none;
  }
}

@media (max-width: 768px) {
  .col-md-rm {
    display: none;
  }
}

@media (max-width: 576px) {
  .col-sm-rm {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
main {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #154884;
}

main {
  overflow-y: hidden !important;
}

[v-cloak] {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin: 30px 0;
}

.divider {
  width: 150px;
  max-width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #2083f8 0%, rgba(0, 0, 0, 0) 100%);
  margin-top: 5px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

.highlight {
  color: #154884;
}

img.box-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.23);
  position: relative;
  border-radius: 15px;
}

.blur {
  position: relative;
}

.blur::before {
  content: "";
  position: absolute;
  filter: blur(2em);
  border-radius: 50%;
  z-index: -1;
  overflow: visible;
}

.blur.__one::before {
  right: -125px;
  top: -100px;
  width: 400px;
  height: 400px;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  opacity: 0.4;
}

.blur.__two::before {
  width: 500px;
  height: 500px;
  right: -140px;
  top: 20%;
  transform: translateY(-50%);
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
  opacity: 0.5;
}

.row {
  padding: 30px 0;
}

@media only screen and (max-width: 50em) {
  .row {
    padding: 15px 0;
  }
}
.uppercase {
  text-transform: uppercase;
  opacity: 0.7;
}

.mini-title {
  background: #e5e5e5;
  display: inline-block;
  padding: 3px 14px;
  border-radius: 999px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.content {
  padding: 30px;
}

@media only screen and (max-width: 55em) {
  .content {
    padding: 15px;
  }
}
#goUp {
  width: 60px;
  height: 60px;
  padding: 10px;
  background: #fff;
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: none;
}
#goUp:hover img {
  transform: translateY(-5px);
}
#goUp img {
  position: relative;
  transition: all 0.35s;
}

.show-mobile {
  display: none;
}

@media only screen and (max-width: 950px) {
  #goUp {
    display: none !important;
  }

  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: block !important;
  }
}
.show-mobile {
  display: none;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.no-padding {
  padding: 0;
}

@media only screen and (max-width: 991px) {
  .after-lg-mb-30 {
    margin-bottom: 30px;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
    bottom: 70px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 20px;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    bottom: 70px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 20px;
  }
}
@-webkit-keyframes hero-background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hero-background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes title-slider__text {
  0% {
    color: transparent;
  }
  70% {
    color: transparent;
  }
  71% {
    color: inherit;
  }
  100% {
    color: inherit;
  }
}
@keyframes title-slider__text {
  0% {
    color: transparent;
  }
  70% {
    color: transparent;
  }
  71% {
    color: inherit;
  }
  100% {
    color: inherit;
  }
}
@-webkit-keyframes title-slider__before {
  0% {
    left: -100%;
  }
  70% {
    left: 0;
  }
  80% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes title-slider__before {
  0% {
    left: -100%;
  }
  70% {
    left: 0;
  }
  80% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes invisable_first {
  0% {
    color: transparent;
  }
  90% {
    color: transparent;
  }
  100% {
    color: #333;
  }
}
@keyframes invisable_first {
  0% {
    color: transparent;
  }
  90% {
    color: transparent;
  }
  100% {
    color: #333;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 4rem;
}

h2,
.h2 {
  font-size: 2.9rem;
}

h3,
.h3 {
  font-size: 2.3rem;
  margin-bottom: 15px;
}

h4,
.h4 {
  font-size: 2rem;
}

p,
.p {
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 1200px) {
  h1,
.h1 {
    font-size: 2.3rem;
  }

  h2,
.h2 {
    font-size: 2.1rem;
  }

  h3,
.h3 {
    font-size: 1.9rem;
  }

  h4,
.h4 {
    font-size: 1.7rem;
  }
}
.punt {
  position: relative;
  -webkit-animation: up-down 1.5s infinite;
          animation: up-down 1.5s infinite;
}

@-webkit-keyframes up-down {
  0% {
    top: 0;
  }
  25% {
    top: 0;
  }
  75% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

@keyframes up-down {
  0% {
    top: 0;
  }
  25% {
    top: 0;
  }
  75% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}
.title-slider {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.title-slider.animate,
.title-slider.animate.two,
.title-slider.animate.three,
.title-slider.static {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation: title-slider__text 1.75s;
          animation: title-slider__text 1.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.title-slider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  background-color: #154884;
}

.title-slider.dark::before {
  background-color: #333 !important;
}

.title-slider.animate::before,
.title-slider.animate.two::before,
.title-slider.animate.three::before,
.title-slider.static::before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation: title-slider__before 1.75s;
          animation: title-slider__before 1.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.btn {
  padding: 6px 20px;
  display: inline-block;
  border-radius: 999px;
  border: 1px solid #154884;
  transition: all 0.2s;
  background: transparent;
  position: relative;
  overflow: hidden !important;
}
.btn:hover {
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 6px 40px 6px 20px;
}
.btn:hover::after {
  color: #154884;
}
.btn::after {
  content: ">";
  position: absolute;
  color: transparent;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}
.btn.white {
  color: #fff !important;
  border-color: #fff !important;
  overflow: hidden;
}
.btn.white:hover {
  color: #fff;
}
.btn.white:hover::after {
  color: #fff;
}
.btn.black {
  color: #333 !important;
  border-color: transparent !important;
  background-color: #fff !important;
  overflow: hidden;
}
.btn.black:hover {
  color: #333 !important;
}
.btn.black:hover::after {
  color: #333 !important;
}
.btn.portfolio {
  position: absolute;
  color: #fff;
  left: 50%;
  top: calc(50% - 45px);
  transform: translate(-50%, 50%);
  border-radius: 0 !important;
  border: 3px solid #fff;
  opacity: 0;
  transition: all 0.5s;
  font-size: 20px;
}
.btn.portfolio:hover::after {
  color: #fff;
}

a.pull-out {
  text-decoration: underline;
  position: relative;
}
a.pull-out span {
  display: none;
  position: absolute;
  z-index: 3;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  min-width: 400px;
  max-width: 100vw;
  transition: opacity 0.2s ease-in-out;
}
a.pull-out span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%) rotate(45deg);
}
a.pull-out:hover {
  color: #154884;
  cursor: pointer;
}
a.pull-out:hover span {
  display: block;
}
a.pull-out span:hover {
  display: block;
}

@media only screen and (max-width: 972px) {
  a.pull-out {
    text-decoration: none;
    cursor: none;
  }
  a.pull-out:hover span {
    display: none !important;
  }
}
header#header {
  padding: 20px 0;
  background: transparent;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.34s;
}
header#header .row {
  padding: 0 !important;
}
header#header .branding h3 {
  margin: 0 !important;
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
}
header#header .branding h3 a {
  -webkit-animation: invisable_first 1.5s;
          animation: invisable_first 1.5s;
}
@media only screen and (max-width: 950px) {
  header#header .branding h3 {
    font-size: 1.5rem;
  }
}
header#header.scroll {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
header#header.scroll h3,
header#header.scroll a {
  color: #333 !important;
}
header#header h3,
header#header a {
  color: #333;
}
header#header .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 0;
}
header#header .menu ul {
  list-style: none;
  display: flex;
  margin: 0 !important;
}
header#header .menu ul li {
  margin-left: 25px;
  font-size: 1rem;
  position: relative;
  overflow-y: hidden;
}
header#header .menu ul li ::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 40px;
  background: #154884;
  height: 4px;
  left: -40px;
  bottom: -2px;
  transition: all 0.2s;
}
header#header .menu ul li:hover ::after {
  transform: translateX(40px);
}
header#header .menu ul li a {
  text-decoration: none;
  color: #333;
}
header#header .menu ul li.active::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 40px;
  background: #154884;
  height: 4px;
  left: 0 !important;
  bottom: -2px;
}
header#header .hamburger-wrapper {
  display: none;
  position: relative;
}
header#header .hamburger-wrapper .hamburger-menu {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 20px;
  top: 5px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header#header .hamburger-wrapper .hamburger-menu span {
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  transition: all 0.15s;
}
header#header .hamburger-wrapper .hamburger-menu span.toggle:first-child {
  transform: rotate(45deg);
  position: relative;
  top: 9px;
}
header#header .hamburger-wrapper .hamburger-menu span.toggle.second {
  opacity: 0;
}
header#header .hamburger-wrapper .hamburger-menu span.toggle:last-child {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}
@media only screen and (max-width: 950px) {
  header#header .hamburger-wrapper {
    display: block;
  }
  header#header .menu {
    display: none;
  }
}

aside#menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: #fff;
}
aside#menu ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}
aside#menu ul li {
  font-size: 2rem;
  margin: 10px 0;
}
aside#menu.toggle {
  display: block;
  -webkit-animation: slide-in 0.4s;
          animation: slide-in 0.4s;
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
body.home section.hero {
  padding: 150px 0;
  overflow: hidden;
}
body.home section.hero .hero-title {
  display: inline-block;
}
body.home section.hero .hero-title .h1,
body.home section.hero .hero-title h1 {
  display: inline-block;
}
body.home section.hero .hero-title span.space {
  display: inline-block;
}
@media only screen and (max-width: 1200px) {
  body.home section.hero p {
    font-size: 1rem;
  }
}
body.home section.hero img.back__slide {
  position: absolute;
  z-index: 0;
  top: 0;
  left: -100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.3));
  -webkit-animation: slideImage 1s;
          animation: slideImage 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
body.home section.hero .holder {
  position: relative;
}
body.home section.hero .holder::before {
  content: "";
  height: 200%;
  width: 100%;
  position: absolute;
  top: 0;
  left: calc(-100% - 10px);
  background-color: #fff;
  z-index: 1;
}
body.home section.hero .browser {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background: #f2f2f2;
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
  flex-direction: column;
}
body.home section.hero .browser .__nav {
  width: 100%;
  background: lightgray;
  padding: 12px 5px;
  overflow: hidden;
}
body.home section.hero .browser .__nav .flex-grid {
  display: flex;
  flex-direction: row;
}
body.home section.hero .browser .__nav .flex-grid span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 7px;
}
body.home section.hero .browser .__nav .flex-grid span:nth-of-type(1) {
  background: #dd4f4c;
}
body.home section.hero .browser .__nav .flex-grid span:nth-of-type(2) {
  background: #ffc64a;
}
body.home section.hero .browser .__nav .flex-grid span:nth-of-type(3) {
  background: #2bc55c;
}
body.home section.hero .browser .__nav .flex-grid .tab {
  margin: 0 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #f2f2f2;
  padding: 0 50px 0 20px;
  height: 12px;
  position: relative;
  top: -7px;
  -webkit-animation: tabSwitch__background 1s;
          animation: tabSwitch__background 1s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body.home section.hero .browser .__nav .flex-grid .tab::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  width: 100%;
  left: 0;
  bottom: -20px;
  background: #f2f2f2;
  z-index: 0;
  -webkit-animation: tabSwitch__background 1s;
          animation: tabSwitch__background 1s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body.home section.hero .browser .__nav .flex-grid .tab::before {
  content: "x";
  width: 15px;
  height: 15px;
  font-weight: 400;
  z-index: 2;
  position: absolute;
  color: gray;
  right: 13px;
  top: 4.5px;
  -webkit-animation: tabSwitch__color 1s;
          animation: tabSwitch__color 1s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body.home section.hero .browser .__nav .flex-grid .tab p {
  font-size: 12px;
  line-height: 0;
  color: gray;
  padding: 0;
  margin: 0;
  position: relative;
  top: 17px;
  z-index: 1;
  -webkit-animation: tabSwitch__color 1s;
          animation: tabSwitch__color 1s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body.home section.hero .browser .__body {
  position: relative;
  overflow: hidden;
  padding-bottom: 56%;
}
body.home section.hero .browser .__body .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  text-align: center;
  color: #154884;
  z-index: 2;
  -webkit-animation: colorSwitch 1s;
          animation: colorSwitch 1s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body.home section.hero .browser .__body img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: slideImage 1s;
          animation: slideImage 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body.home section.hero .browser .__body img:nth-of-type(1) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
body.home section.hero .browser .__body img:nth-of-type(2) {
  -webkit-animation-delay: 4.25s;
          animation-delay: 4.25s;
}
body.home section.hero .browser .__body img:nth-of-type(3) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  height: auto !important;
}
body.home section.intro {
  padding: 70px 0;
  position: relative;
  overflow: hidden;
  margin: 0 !important;
}
body.home section.intro .image-container {
  position: relative;
}
body.home section.intro .image-container .behind-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  filter: drop-shadow(0 0 15px #154884);
  transform: translate(-100%, -50%) scale(1.7) rotate(360deg) !important;
}
@media (max-width: 1000px) {
  body.home section.intro .image-container .behind-animation {
    opacity: 0.3;
  }
}
body.home section.intro .image-container .behind-animation.reverse {
  transform: translate(0%, -50%) scale(1.7) rotate(360deg) !important;
}
body.home section.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: -450px;
  z-index: -1;
  width: 200%;
  padding-bottom: 200%;
  background: #f5f6f9;
  border-radius: 50%;
}
body.home section.intro::after {
  content: "";
  position: absolute;
  background: #f5f6f9;
  top: 600px;
  left: 0;
  width: 100%;
  height: calc(100% - 600px);
  z-index: -2;
}
@media only screen and (min-width: 1800px) {
  body.home section.intro::before {
    content: none !important;
  }
  body.home section.intro::after {
    top: 0 !important;
    height: 100% !important;
  }
}
@media only screen and (max-width: 800px) {
  body.home section.intro::before {
    content: none !important;
  }
  body.home section.intro::after {
    top: 0 !important;
    height: 100% !important;
  }
}
body.home section.portfolio .portfolio__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 50px;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  body.home section.portfolio .portfolio__grid {
    grid-template-columns: 1fr !important;
  }
  body.home section.portfolio .portfolio__grid .portfolio__item {
    margin: 50px 0;
  }
}
body.home section.portfolio .portfolio__grid .portfolio__item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 15px;
  color: #fff;
  position: relative;
  height: 350px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: all 0.4s;
}
body.home section.portfolio .portfolio__grid .portfolio__item:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
  transform: scale(1.035) rotate(1deg);
}
body.home section.portfolio .portfolio__grid .portfolio__item:hover img {
  transform: scale(1.1) rotate(-2deg);
}
body.home section.portfolio .portfolio__grid .portfolio__item .__title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 30px;
}
body.home section.portfolio .portfolio__grid .portfolio__item h4 {
  position: relative;
  left: 30px;
  transform: rotate(-90deg);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 35px;
}
body.home section.portfolio .portfolio__grid .portfolio__item img {
  position: absolute;
  max-width: 70%;
  max-height: 130%;
  right: 10%;
  top: -15%;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.15));
  transition: all 0.2s;
}
body.home section.contact .contact__container h4 {
  font-weight: 400;
}
body.home section.contact .behind-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.2));
  transform: translate(40%, -50%) scale(1) rotate(360deg) !important;
}
@media (max-width: 991px) {
  body.home section.contact .behind-animation {
    z-index: -1;
  }
}

@-webkit-keyframes colorSwitch {
  0% {
    color: #154884;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  }
}

@keyframes colorSwitch {
  0% {
    color: #154884;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes slideImage {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideImage {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes tabSwitch__color {
  0% {
    color: gray;
  }
  100% {
    color: #fff;
  }
}
@keyframes tabSwitch__color {
  0% {
    color: gray;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes tabSwitch__background {
  0% {
    background: #f2f2f2;
  }
  100% {
    background: #333;
  }
}
@keyframes tabSwitch__background {
  0% {
    background: #f2f2f2;
  }
  100% {
    background: #333;
  }
}
section.cta {
  position: relative;
  padding: 100px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0;
}
section.cta::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  opacity: 0.98;
  filter: brightness(0.32);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
section.cta .content {
  position: relative;
  z-index: 2;
  padding: 0;
}
section.cta .content h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 20px;
  color: #fff;
}
section.cta img {
  position: absolute;
  top: 25px;
  transform: scale(0.9);
}
@media only screen and (max-width: 950px) {
  section.cta .content h2 {
    font-size: 30px;
    line-height: 27px;
  }
}

section.sub-hero {
  height: clamp(400px, 50vh, 1000px);
}
section.sub-hero .container, section.sub-hero .row {
  height: 100%;
}
section.sub-hero .sub-hero__fade {
  position: relative;
}
section.sub-hero .sub-hero__fade::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, white 0%, rgba(0, 0, 0, 0) 100%);
}

footer#footer {
  background: #f2f2f2;
  padding: 50px 0;
  position: relative;
}
footer#footer .content {
  padding: 10px 0;
}
footer#footer ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
footer#footer ul li {
  padding: 3px 0;
}
footer#footer ul li * {
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
  padding-left: 0;
  font-weight: 300;
  font-size: 1.2rem;
}
footer#footer ul li *:hover {
  color: #6d7bff;
  padding-left: 20px;
}
footer#footer ul li *:hover::before {
  opacity: 1;
}
footer#footer ul li *::before {
  position: absolute;
  left: 0;
  top: -1px;
  content: ">";
  color: inherit;
  opacity: 0;
}
footer#footer ul li *.smaller {
  font-size: 1rem;
  opacity: 0.8;
  text-decoration: underline;
}
footer#footer .footnote {
  position: relative;
  bottom: -30px;
  opacity: 0.75;
}
