@keyframes fade {
  0% {
    opacity: 0;
    bottom: 70px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 20px;
  }
}
@keyframes hero-background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes title-slider__text {
  0% {
    color: transparent;
  }
  70% {
    color: transparent;
  }
  71% {
    color: inherit;
  }
  100% {
    color: inherit;
  }
}
@keyframes title-slider__before {
  0% {
    left: -100%;
  }
  70% {
    left: 0;
  }
  80% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes invisable_first {
  0% {
    color: transparent;
  }
  90% {
    color: transparent;
  }
  100% {
    color: #333;
  }
}
