$main: #154884;
$gradient: linear-gradient(90deg, #edff7e 0%, #7fefea 100%);
$divider: linear-gradient(90deg, rgba(32, 131, 248, 1) 0%, rgba(0, 0, 0, 0) 100%);
$clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
$text-color: #212529;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: #154884;
}

[v-cloak] {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.divider {
  width: 150px;
  max-width: 100%;
  height: 2px;
  background: $divider;
  margin-top: 5px;
  margin-bottom: 30px;
}
img {
  max-width: 100%;
}
.highlight {
  color: $main;
}

img.box-image {
 object-fit: cover;
 width: 100%;
 height: 100%;
 box-shadow: 0 0 20px rgba(0,0,0,.23);
}

.row {
  padding: 30px 0;
}
@media only screen and (max-width: 50em) {
  .row {
    padding: 15px 0;
  }
}

.uppercase {
  text-transform: uppercase;
  opacity: .7;
}

.mini-title {
  background: #e5e5e5;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 999px;
  margin-bottom: 0;
}

.content {
  padding: 30px;
}

@media only screen and (max-width: 55em) {
  .content {
    padding: 15px;
  }
}

#goUp {
  width: 60px;
  height: 60px;
  padding: 10px;
  background: #fff;
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  border-radius: 3px;
  &:hover {
    img {
      transform: translateY(-5px);
    }
  }

  img {
    position: relative;
    transition: all .35s;
  }
}
@media only screen and (max-width: 950px) {
  #goUp {
    display: none !important;
  }
}