section.hero {
  background: #333;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;

  .row.height {
    height: 100vh;

    .content {
      text-align: center;
      position: relative;
      z-index: 100;

      img {
        max-width: 600px;
        margin-bottom: -30px;
      }

      h1 {
        font-size: 10rem;
        color: #ffffff;
        position: relative;
        z-index: 10;

        span {
          &.parent {
            position: relative;
            cursor: pointer;

            &:hover {
              .child {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }

          &.child {
            position: absolute;
            transition: all .2s;
            color: #ffffff;
            opacity: 0;
            bottom: 0;
            transform: translateY(-50px);
            font-size: 34px;
            letter-spacing: .3rem;
            left: 0;
          }
        }
      }
    }

    .trigger {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 30px;
      height: 30px;
      border-bottom: 4px solid #ffffff;
      border-right: 4px solid #ffffff;
      animation: fade 2s infinite;
      opacity: 0;
    }
  }
}

section.about.home {
  background-color: #f2f2f2;
  padding: 60px 0;

  .socials {
    ul {
      display: flex;
      list-style: none;
      margin: 15px 0 0 0;
      padding: 0;
      li {
        a {
          img {
            width: 25px;
            transition: all .3s;
          }
        }
        &:first-child {
          margin-right: 10px;
        }
        :hover {
          img {
            opacity: .8;
          }
        }
      }
    }
  }
}
section.portfolio {
  margin: 50px 0;

  .title {
    margin-bottom: 150px;
  }

  .portfolio-item {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    padding: 20px;

    img, .header {
      height: 250px;
      border-radius: 20px;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      margin-top: -125px;
      transition: all .2s;
    }
    .__title {
      margin-top: 15px;
      h4 {
        font-size: 2.25rem;
      }
      .divider {
        margin-bottom: 15px;
        margin-top: 0;
      }
    }
    .__body {
      p {
        overflow: hidden;
        text-overflow: ellipsiss;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
}