header#header {
  padding: 20px 0;

  .branding {
    h3 {
      margin: 0 !important;
    }
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px 0;
    ul {
      list-style: none;
      display: flex;
      margin: 0 !important;
       li {
         margin-left: 25px;
         font-size: 1.1rem;
         position: relative;
         overflow-y: hidden;

         ::after {
           content: "";
           z-index: 2;
           position: absolute;
           width: 40px;
           background: $main;
           height: 4px;
           left: -40px;
           bottom: -2px;
           transition: all .2s;
         }
         &:hover {
           ::after {
             transform: translateX(40px);
           }
         }
         a {
           text-decoration: none;
         }
         &.active::after {
           content: "";
           z-index: 2;
           position: absolute;
           width: 40px;
           background: $main;
           height: 4px;
           left: 0 !important;
           bottom: -2px;
         }
       }
    }
  }
}